{% extends 'base.html' %}
{% block title %}2019年动作电影{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
    <div class="row">
        <h1 style="text-align: center">2019年动作电影预览</h1>
        <br><br>
        {% for movie in data %}
            <div class="col-md-2">
                <div class="movie" style="margin-left: 15px;text-align: center">
                    <div class="img_url">
                        <img src="{{ movie.img }}">
                    </div>
                    <div class="info">
                        <div class="title">
                            <h4>{{ movie.title|truncate(12) }}</h4>
                        </div>
                        <div class="score">
                            <span>评分：{{ movie.score }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<!-- 分页器-->
    <div class="paginate" style="text-align: center">
        <nav>
            <ul class="pagination">

                {% if pagination.has_prev %}
                    <li class="page-item"><a class="page-link"
                                                    href="{{ url_for('action2019',page=pagination.page-1) }}">上一页</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                {% endif %}

                {% for page in pagination.iter_pages(1,1,3,1) %}
                    {% if page %}
                        <li class="page-item {% if page==pagination.page %}active{% endif %}"><a class="page-link"
                                                                                                 href="{{ url_for('action2019',page=page) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                    {% endif %}

                {% endfor %}

                {% if pagination.has_next %}
                    <li class="page-item"><a class="page-link"
                                                    href="{{ url_for('action2019',page=pagination.page+1)}}">下一页</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endblock %}